<% content_for :head do %>
  <h3>New chat</h3>
<% end %>

<%= form_with model: @chat do |form| %>
  <div>
    <%= form.label :name, class: 'mb-2' %><br>
    <%= form.text_field :name, class: 'mb-2' %>
    <% @chat.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit%>
  </div>
<% end %>

