<h1>New Chat</h1>

<%= form_with model: @chat do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% @chat.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

