<% content_for :head do %>
  <h3><%= @chat.name %></h3>
<% end %>

<%= turbo_stream_from @chat %>
<div id="chat">
	<div id="messages">
	  <%= render @messages %>
	</div>

	<div class="form-group msg-form">
	  <%= form_with(model: [@chat, @message], remote: true, class:'d-flex') do |f| %>
	    <%= f.text_field :body, autocomplete: 'off', class: 'm-1'  %>
	    <%= f.submit 'Send', class: 'btn btn-primary m-1' %>	
	  <% end %>
	</div>
</div>