<!DOCTYPE html>
<html>
  <head>
    <title>ChatApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>

    <script type="text/javascript">
      Notification.requestPermission();
      const vapidPublicKey = new Uint8Array(<%= Base64.urlsafe_decode64(Rails.application.credentials.dig(:webpush, :private_key)).bytes %>);
      if (navigator.serviceWorker) {
        navigator.serviceWorker.register('/service_worker.js')
        .then(function(reg) {
          console.log('Service worker change, registered the service worker');
        });
      } else {
        console.error('Service worker is not supported in this browser');
      }

      navigator.serviceWorker.ready.then((serviceWorkerRegistration) => {
        serviceWorkerRegistration.pushManager
        .subscribe({
          userVisibleOnly: true,
          applicationServerKey: vapidPublicKey
        });
      });

    navigator.serviceWorker.register('/service_worker.js')
    navigator.serviceWorker.ready.then((serviceWorkerRegistration) => {
      serviceWorkerRegistration.pushManager.subscribe({
        userVisibleOnly: true,
        applicationServerKey: vapidPublicKey
      });
      
    });
    </script>



      
    <%= yield %>
  </body>
</html>
